global
    log /dev/log local7
    log /dev/log local7 notice
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     {{haproxy_maxconn}}
    user        haproxy
    group       haproxy
    daemon
    nbproc      16
    stats socket /run/haproxy_admin.sock mode 666 level admin
    stats socket /run/haproxy_info.sock mode 666 level user 
    stats timeout 30s
    stats bind-process 1
    tune.maxrewrite 1024

defaults
    mode                    tcp
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout connect         10s
    timeout client          2m
    timeout server          2m
    maxconn                 {{haproxy_maxconn}}

listen admin_stat
    bind *:{{haproxy_stats_port}}
    bind-process 1
    mode http
    stats refresh 30s
    stats uri /haproxy_stats
    stats auth admin:admin
    stats hide-version

########## CLUSTER STATUS ##########

listen memcache {{haproxy_vip}}:{{memcached_port}}
    balance source
    mode tcp
    option tcpka
    option tcplog
    timeout client 999d
    timeout server 999d
    stick-table type ip size 1024
    stick on dst
    bind-process 1
    {% for ip in groups.haproxy_nodes %}
server {{ip}} {{ip}}:{{memcached_port}} backup check inter 5s rise 2 fall 3 on-marked-down shutdown-sessions
    {% endfor %}

listen rabbitmq {{haproxy_vip}}:{{rabbitmq_node_prot}}
    mode tcp
    balance source
    timeout client 999d
    timeout server 999d
    option tcpka
    {% for ip in groups.haproxy_nodes %}
server {{ip}} {{ip}}:{{rabbitmq_node_prot}} check inter 10s rise 2 fall 3 on-marked-down shutdown-sessions
    {% endfor %}

listen rabbitmq_admin
    bind {{haproxy_vip}}:{{rabbitmq_admin_port}}
    balance source
    option tcpka
    option tcplog
    {% for ip in groups.haproxy_nodes %}
server {{ip}} {{ip}}:{{rabbitmq_admin_port}} check inter 5s rise 2 fall 3
    {% endfor %}

listen mariadb {{haproxy_vip}}:{{mariadb_port}}
    mode tcp
    balance source
    option tcpka
    option tcplog
    option httpchk
    timeout client 999d
    timeout server 999d
    {% for ip in groups.haproxy_nodes %}
{% if ip != mariadb_cluste_init %}
server {{ip}} {{ip}}:{{mariadb_port}} check port 9200 inter 5s rise 2 fall 3 on-marked-down shutdown-sessions backup
{% else %}
server {{mariadb_cluste_init}} {{mariadb_cluste_init}}:{{mariadb_port}} check port 9200 inter 5s rise 2 fall 3 on-marked-down shutdown-sessions 
{% endif %}
    {% endfor %}
